            body {
                   background: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #29173f),
	color-stop(0.13, #321742),
	color-stop(0.25, #402254),
	color-stop(0.5, #471d4d),
	color-stop(0.75, #633252),
	color-stop(0.86, #7c394b),
	color-stop(1, #e96131)
);/* TODO: update according to top spec
background: -o-linear-gradient(bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
background: -moz-linear-gradient(bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
background: -webkit-linear-gradient(bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
background: -ms-linear-gradient(bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
background: linear-gradient(to bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
                } */
