                                                                            body {
                overflow:hidden;
                   background: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #29173f),
	color-stop(0.13, #321742),
	color-stop(0.25, #402254),
	color-stop(0.5, #471d4d),
	color-stop(0.75, #633252),
	color-stop(0.86, #7c394b),
	color-stop(1, #e96131)
);/* TODO: update according to top spec
background: -o-linear-gradient(bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
background: -moz-linear-gradient(bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
background: -webkit-linear-gradient(bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
background: -ms-linear-gradient(bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
background: linear-gradient(to bottom, #6749DE 0%, #FFBD8A 70%, #FFFFFF 100%);
            */    }

img.jar {
    display:inline;
    position:relative;

}

#jars_layer{
    position:absolute;
    bottom:0;
    left:0;
    z-index: 0;
    display: block;
}

.halfstar {
    -ms-transform: scale(0.5,0.5); /* IE 9 */
    -webkit-transform: scale(0.5,0.5); /* Chrome, Safari, Opera */
    transform: scale(0.5,0.5);
}

.star {
    position:absolute;
}

#stars_layer{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
     display: block;
}

#star_detail{
		display:none;
    margin:10%;
    width:80%;
height:80%;
background-color:rgba(255,255,255,0.4);
border-color:#fff;
border-style:solid;
border-size:8px;
border-radius:20px;
position:absolute;
z-index:2000;
}

#star_detail button.close {
 float:right;
}
                            
                            
